:root {
	--orange:#f3a387;
}
@define-mixin title{
	font-family: 'Roboto-Regular';
	font-size: 48px;
	color: var(--orange);
	text-transform: uppercase;
	text-align: center;	
}
@define-mixin navigate{
	li{
		background: var(--orange);
		margin-left: 20px;
		border-radius: 3px;
		a{
			padding: 20px;
			color: white !important;
			text-transform: uppercase;
		}
	}
}
@define-mixin gallery-button{
	text-align: center;
	margin-top: -280px;
	position: absolute;
	left: 46%;
	button{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid var(--orange);
		background: transparent;
		margin-left: 10px;
		&:focus{
			outline: none;
			border-radius: 50%;
			border: 2px solid var(--orange);
			background: rgba(243, 163, 135, 0.9);
		}
	}
	button#active{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: var(--orange);
	}
}
@font-face{
	font-family: 'Roboto';
	src: inline('../fonts/Roboto/Roboto-Thin.ttf');
}
@font-face{
	font-family: 'Roboto-Medium';
	src: inline('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face{
	font-family: 'Roboto-Regular';
	src: inline('../fonts/Roboto/Roboto-Regular.ttf');
}
.navbar-default{
	background-color: transparent;
    border-color: transparent;
    > .container{
		width: 100%;
		> .navbar-header{
			margin-top: 20px;
		}
		> .navbar-collapse{
			border-color: transparent;
			margin-top: 20px;
			ul{
				li{
					margin-bottom: 20px;
				}
			}
		}
	}
	ul{
		li{
			background: var(--orange);
			margin-left: 20px;
    		border-radius: 3px;
			a{
				padding: 20px;
    			color: white !important;
    			text-transform: uppercase;
			}
		}
	}
}
.header{
	margin-right: 0;
	margin-left: 0;
	margin: 15px 15px;
	#logo{
		img{
			margin-top: -60px;
   			margin-left: -50px;
		}
	}
	#vk{
		img{
			margin-top: -30px;
		}
	}
	#fb{
		margin-left: 20px;
		img{
			margin-top: -30px;
		}
	}
	.contacts{
		height: 20px;
		.col-md-4{
			padding-left: 0;
			padding-right: 0;
		}
		a{
			color: #BD3100;
			text-transform: uppercase;
			font-family: 'Roboto';
			font-size: 9px;
			&:hover{
				text-decoration:none;
			}
		}
		a#address{
			background: inline('./icons/pin.png') no-repeat 0px 0px;
			padding: 10px 25px;
		}
		a#nomber{
			background: inline('./icons/phone_Black.png') no-repeat 5px 0px;
			margin-left: 30px;
			padding-left: 30px;
			color: black;
			font-size: 14px;
			font-family: 'Roboto-Medium';
		}
		a#mail{
			background: inline('./icons/mail.png') no-repeat -5px 0px;
			background-size: 30px;
			padding: 10px 30px;
			margin-left: 30px;
		}
	}
}
.main{
	> .title{
		background: inline('./image/DSC_2755.jpg') no-repeat;
		background-size: 135%;
		height: 130px;
		width:100%;
		p{
			font-family: 'Roboto-Regular';
			font-size: 48px;
			color: var(--orange);
			text-transform: uppercase;
			text-align: center;		
		}
	}
	> .title-text{
		width: 90%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		p{
			font-family: 'Roboto-Thin';
			font-size: 16px;
    		line-height: 27px;
		}
	}
	.gallery-button{
		@mixin gallery-button;
	}
	.about{
		background: #f7f7f7;
		padding-top: 140px;
		p#title{
			@mixin title;
			text-align: left !important;
			margin-left: 34%;
			margin-bottom: 150px; 
		}
		.about-item{
			padding-bottom: 150px;																																									
			width: 80%;
    		margin: 0 auto;
			img{
				margin-left: 10%;
				float: left;
				margin-top: -30px;
			}
			#text{
				p#title{
					margin-bottom: 0;
					text-align: left;
					margin-left: 30%;
					color:#666666;
					font-family: 'Roboto-Regular';
					width: 50%;
					line-height: 50px;
					padding-top: 0;
				}
				p{
					padding-top: 30px;
					width: 40%;
					margin-left: 30%;
					font-family: 'Roboto';
				}
			}
		}
	}
	.gallery-big{
		p{
			@mixin title;
			margin-top: 80px;
			margin-bottom: 60px;
		}
		ul{
			@mixin navigate;
			max-width: 450px;
    		margin: 0 auto;
			li a:hover, :focus, :active{
				background-color:var(--orange);
			}
		}
		.container-img{
			margin-top: 20px;
		}
		img{
			width: 33.3%;
    		height: 250px;
		}
		.gallery-button{
			@mixin gallery-button;
			margin-top: 60px;
		}
	}
	.request-call{
		margin-top:100px;
		p#title{
			@mixin title;
		}
		p#text{
			font-family: 'Roboto';
			max-width: 430px;
		    text-align: center;
		    margin: 0 auto;
		}
		.row{
			margin-left: 0;
		    margin-right: 0;
		    width: 90%;
		    margin: 0 auto;
		    margin-top: 40px;
		    input{
		    	border: none;
		    	background: #eaeaea;
		    	height: 55px;
    			width: 100%;
    			border-radius: 3px;
    			color: #888;
    			font-family: 'Roboto';
    			text-transform: uppercase;
    			padding-left: 45px;
    			margin-bottom: 30px;
    			&:focus{
    				outline:none;
    				border: none;
    			}
		    }
		    .request-send{
		    	img{
		    		cursor:pointer;
		    		margin-left: 48%;
		    	}
		    	p{
		    		font-family: 'Roboto';
		  			&#title{
		  				font-size: 24px;
		  				color: #8e8e8e;
		  				margin-top: 20px;
		  			}
		    	}
		    }
		}
	}
	.logo-group{
		background: #d7d7d7;
		height: 220px;
		margin-top: 130px;
		.row{
			margin-left: 0;
		    margin-right: 0;
		    width: 40%;
		    margin: 0 auto;
		    .col-md-4{
		    	height: 140px;
		    	background: white;
		    	border-radius: 50%;
			    width: 140px;
			    text-align: center;
			    margin-top: 50px;
    			margin-left: 20px;
    			padding-top: 60px;
    			font-family: 'Roboto';
		    }
		}
	}
}
.footer{
	height: 400px;
	width: 100%;
	background: #333333;
	.row{
		margin-left: 0;
	    margin-right: 0;
	    width: 60%;
	    margin: 0 auto;
	    padding-top: 70px;
	    .col-md-4{
	    	ul{
	    		li{
	    			color:#9d9d9d;
	    			font-family: 'Roboto';
	    			padding-top: 15px;
	    			cursor: pointer;
	    			img{
	    				cursor: pointer;
	    			}
	    			a{
	    				color:#b7b7b7;
	    				img{
	    					padding-right: 10px;
	    				}
	    				&:hover{
	    					background-color:transparent;
	    				}
	    			}
	    			&#special{
		    			line-height: 14px;
					    max-width: 200px;
					    margin-top: -5px;
		    		}
	    		}
	    	}
	    }
	    .col-md-12{
	    	padding-left: 0;
    		padding-right: 0;
			ul.nav-pills{
		    	padding-top: 80px;
				li{
					a{
						color:#9d9d9d;
		    			font-family: 'Roboto';
		    			text-transform: uppercase; 
						&:hover, :focus, :active{
							background-color: transparent;
						};
					}
				}
		    }
	    }
	}
}
@media (max-width: 960px){
	.footer{
		height: auto !important;
	}
	.logo-group{
		height: auto !important;
	}
}
@media (max-width: 768px){
	.footer{
		height: auto !important;
		.row{
			width: 80% !important;
		}
	}
	.logo-group{
		height: auto !important;
	}
	.about-item{
		img{
			margin-left: 0 !important;
		}
	}
	.navbar-default{
		ul{
			li{
				margin-left: 0;
			}
		}
	}
	.header{
		margin: 0;
	}
}