:root {
	--orange:#f3a387;
}
@define-mixin title{
	font-family: 'Roboto-Regular';
	font-size: 48px;
	color: var(--orange);
	text-transform: uppercase;
	text-align: center;	
}
@define-mixin navigate{
	li{
		background: var(--orange);
		margin-left: 20px;
		border-radius: 3px;
		a{
			padding: 20px;
			color: white !important;
			text-transform: uppercase;
		}
	}
}
@define-mixin gallery-button{
	text-align: center;
	margin-top: -280px;
	position: absolute;
	left: 46%;
	button{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid var(--orange);
		background: transparent;
		margin-left: 10px;
		&:focus{
			outline: none;
			border-radius: 50%;
			border: 2px solid var(--orange);
			background: rgba(243, 163, 135, 0.9);
		}
	}
	button#active{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: var(--orange);
	}
}
@define-mixin button{
	background: var(--orange);
	padding: 20px;
	color: white !important;
	text-transform: uppercase;
	border: transparent;
	border-radius: 3px;
}
@font-face{
	font-family: 'Roboto';
	src: inline('../fonts/Roboto/Roboto-Thin.ttf');
}
@font-face{
	font-family: 'Roboto-Medium';
	src: inline('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face{
	font-family: 'Roboto-Regular';
	src: inline('../fonts/Roboto/Roboto-Regular.ttf');
}
.navbar-default{
	background-color: transparent;
    border-color: transparent;
    > .container{
		width: 100%;
		> .navbar-header{
			margin-top: 20px;
		}
		> .navbar-collapse{
			border-color: transparent;
			margin-top: 20px;
			ul{
				li{
					margin-bottom: 20px;
				}
			}
		}
	}
	ul{
		li{
			background: var(--orange);
			margin-left: 20px;
    		border-radius: 3px;
			a{
				padding: 20px;
    			color: white !important;
    			text-transform: uppercase;
			}
		}
	}
}
.row{
	margin-right: 0;
	margin-left: 0;
}
.header-top{
	background: #f7f7f7;
	height: 50px;
	.contacts{
		height: 20px;
		padding-top: 15px;
		.col-md-4{
			padding-left: 0;
			padding-right: 0;
		}
		a{
			color: #BD3100;
			text-transform: uppercase;
			font-family: 'Roboto';
			font-size: 9px;
			&:hover{
				text-decoration:none;
			}
		}
		a#address{
			background: inline('./icons/pin.png') no-repeat 0px 0px;
			padding: 10px 25px;
		}
		a#nomber{
			background: inline('./icons/phone_Black.png') no-repeat 5px 0px;
			padding-left: 30px;
			color: black;
			font-size: 14px;
			font-family: 'Roboto-Medium';
		}
		a#mail{
			background: inline('./icons/mail.png') no-repeat -5px 0px;
			background-size: 30px;
			padding: 10px 30px;
			margin-left: 30px;
		}
	}
	.social{
		a{
			float: right;
		    padding-right: 15px;
		    padding-top: 10px;
		}
		#vk{
			img{
				margin-top: -30px;
			}
		}
		#fb{
			margin-left: 20px;
			img{
				margin-top: -30px;
			}
		}
	}
}
.header{
	#logo{
		img{
			margin-top: -60px;
   			margin-left: -50px;
		}
	}
}
.main{
	> .title{
		background: inline('./image/DSC_2755.jpg') no-repeat;
		background-size: 135%;
		height: 130px;
		width:100%;
		p{
			font-family: 'Roboto-Regular';
			font-size: 48px;
			color: var(--orange);
			text-transform: uppercase;
			text-align: center;		
		}
	}
	> .title-text{
		width: 90%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		p{
			font-family: 'Roboto-Thin';
			font-size: 16px;
    		line-height: 27px;
		}
	}
	.gallery-button{
		@mixin gallery-button;
	}
	.about{
		background: #f7f7f7;
		padding-top: 140px;
		p#title{
			@mixin title;
			text-align: left;
			margin-left: 34%;
			margin-bottom: 150px; 
		}
		.about-item{
			padding-bottom: 150px;																																									
			width: 80%;
    		margin: 0 auto;
			img{
				margin-left: 10%;
				float: left;
				margin-top: -30px;
			}
			#text{
				p#title{
					margin-bottom: 0;
					text-align: left;
					margin-left: 30%;
					color:#666666;
					font-family: 'Roboto-Regular';
					width: 50%;
					line-height: 50px;
					padding-top: 0;
				}
				p{
					padding-top: 30px;
					width: 40%;
					margin-left: 30%;
					font-family: 'Roboto';
				}
			}
		}
	}
	.gallery-big{
		p{
			@mixin title;
			margin-top: 80px;
			margin-bottom: 60px;
		}
		ul{
			@mixin navigate;
			max-width: 450px;
    		margin: 0 auto;
			li{
				a:hover, :focus, :active{
					background-color:var(--orange);
				}
				button{
					@mixin button
				}
			}
		}
		.container-img{
			margin-top: 20px;
		}
		img{
			width: 33.3%;
    		height: 250px;
		}
		.gallery-button{
			@mixin gallery-button;
			margin-top: 60px;
		}
	}
	.calculator{
		margin-top: 200px;
		ul{
			max-width: 260px;
			margin: 0 auto;
			@mixin navigate;
			li{
				button{
					@mixin button;
					&#none{
						@mixin button;
						background:#ddd;
						color:#7a7575 !important;
					}
				}
			}
		}
		.row{
			margin-left: 0;
			margin-right: 0;
			margin-top: 80px;
			.col-md-3{
				p#title{
					font-family: 'Roboto';
					font-size: 24px;
					text-align: center;
					text-transform: uppercase;
					margin-bottom: 0;
				}
				p#for{
					font-family: 'Roboto';
					font-size: 18px;
					text-align: center;
				}
				.range-text{
					margin-top: 50px;
					text-align: center;
					input{
						width: 50px;
					    height: 50px;
					    margin-left: 10px;
					    border-radius: 3px;
					    border: 1px solid var(--orange);
					    text-align: center;
					    &:focus, :active{
					    	border: 1px solid var(--orange);
					    }
					}
					ul li{
						margin-left: 7px;
						a{
							padding: 15px;
						}
						button{
							@mixin button;
							&#none{
								@mixin button;
								background:#ddd;
								color:#7a7575 !important;
							}
						}
					}
				}
				.range-edit{
					width: 200px;
					margin: 0 auto;
					margin-top: 20px;
					p{
						font-family: 'Roboto';
						font-size: 18px;
						margin-left: 10px;
						float: right;
						img{
							margin-top: -10px;
							margin-left: 10px;
						}
					}
				}
			}
		}
		.display{
			.col-md-3{
				text-align: center;
			}
			p#display-all{
				text-align: center;
			    background: var(--orange);
			    height: 50px;
			    padding-top: 15px;
			    color: white;
			    font-style: italic;
			    text-decoration: underline;
			    text-transform: uppercase;
			    cursor: pointer;
			    margin-top: 30px;
			}
		}
	}
	.logo-group{
		background: #d7d7d7;
		height: 220px;
		margin-top: 130px;
		.row{
			margin-left: 0;
		    margin-right: 0;
		    width: 40%;
		    margin: 0 auto;
		    .col-md-4{
		    	height: 140px;
		    	background: white;
		    	border-radius: 50%;
			    width: 140px;
			    text-align: center;
			    margin-top: 50px;
    			margin-left: 20px;
    			padding-top: 60px;
    			font-family: 'Roboto';
		    }
		}
	}
}
.rent{
	.header{
		background: #f7f7f7;
		margin-top: -20px;
		p#title{
			@mixin title;
		}
	}
	.show{
		background: var(--orange);
		height: 80px;
		p{
			color:white;
			padding: 30px 65px;
		}
	}
	.range-text{
		p#title{
			font-family: 'Roboto';
			font-size: 24px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 0;
			float: left;
			margin-top: 10px;
		}
		margin-top: 50px;
		margin-bottom: 30px;
		text-align: center;
		input{
			width: 50px;
		    height: 50px;
		    margin-left: 10px;
		    border-radius: 3px;
		    border: 1px solid var(--orange);
		    text-align: center;
		    &:focus, :active{
		    	border: 1px solid var(--orange);
		    }
		}
	}
	.result{
		height: 50px;
		&:hover{
			background: #f7f7f7;
			cursor: pointer;
		}
		p{
			text-align: center;
			padding-top: 12px;
		}
	}
}
.request-call{
		margin-top:100px;
		margin-bottom:50px;
		p#title{
			@mixin title;
		}
		p#text{
			font-family: 'Roboto';
			max-width: 430px;
		    text-align: center;
		    margin: 0 auto;
		}
		.row{
			margin-left: 0;
		    margin-right: 0;
		    width: 90%;
		    margin: 0 auto;
		    margin-top: 40px;
		    input{
		    	border: none;
		    	background: #eaeaea;
		    	height: 55px;
    			width: 100%;
    			border-radius: 3px;
    			color: #888;
    			font-family: 'Roboto';
    			text-transform: uppercase;
    			padding-left: 45px;
    			margin-bottom: 30px;
    			&:focus{
    				outline:none;
    				border: none;
    			}
		    }
		    .request-send{
		    	img{
		    		cursor:pointer;
		    		margin-left: 48%;
		    	}
		    	p{
		    		font-family: 'Roboto';
		  			&#title{
		  				font-size: 24px;
		  				color: #8e8e8e;
		  				margin-top: 20px;
		  			}
		    	}
		    }
		}
	}
.footer{
	height: 400px;
	width: 100%;
	background: #333333;
	.row{
		margin-left: 0;
	    margin-right: 0;
	    width: 60%;
	    margin: 0 auto;
	    padding-top: 70px;
	    .col-md-4{
	    	ul{
	    		li{
	    			color:#9d9d9d;
	    			font-family: 'Roboto';
	    			padding-top: 15px;
	    			cursor: pointer;
	    			img{
	    				cursor: pointer;
	    			}
	    			a{
	    				color:#b7b7b7;
	    				img{
	    					padding-right: 10px;
	    				}
	    				&:hover{
	    					background-color:transparent;
	    				}
	    			}
	    			&#special{
		    			line-height: 14px;
					    max-width: 200px;
					    margin-top: -5px;
		    		}
	    		}
	    	}
	    }
	    .col-md-12{
	    	padding-left: 0;
    		padding-right: 0;
			ul.nav-pills{
		    	padding-top: 80px;
				li{
					a{
						color:#9d9d9d;
		    			font-family: 'Roboto';
		    			text-transform: uppercase; 
						&:hover, :focus, :active{
							background-color: transparent;
						};
					}
				}
		    }
	    }
	}
}
@media (min-width: 1600px){
	.main .gallery-big img{
		height: 400px;
	}
}
@media (min-width: 1500px){
	.main .gallery-big img{
		height: 350px;
	}
}
@media (min-width: 1400px){
	.main .gallery-big img{
		height: 300px;
	}
}
@media (max-width: 1199px){
	.logo-group{
		.row{
			width: 55% !important;
		}
	}
}
@media (max-width: 992px){
	.main .logo-group .row .col-md-4{
		float: left;
	}
}
@media (max-width: 990px){
	.footer{
		height: auto !important;
		.col-md-4{
			ul{
				width: 49%;
				float: left;
			}
		}
		.social{
			ul{
				li{
					a{
						padding-left: 0;
					}
					img{
						margin-left: 0 !important;
					}
				}
			}
		}
		.col-md-12 ul.nav-pills{
			padding-top: 400px !important;
		}
	}
}
@media (max-width: 960px){
	.header{
		.navbar-collapse{
			position: relative;
			top:0 !important;
			ul{
				display: flex;
			}
		}
	}
	.gallery-big{
		.container-img{
			img{
				height: 200px;
			}
		}
	}
	.footer{
		height: auto !important;
	}
	.logo-group{
		.row{
			width: 175px !important;
   			margin: 0 auto;
			padding-bottom: 20px;
		}
		height: auto !important;
	}
}
@media (max-width: 935px){
	.header{
		.navbar-collapse{
			position: relative;
			top:-45px !important;
			ul{
				display: flex;
			}
		}
	}
}
@media (max-width: 868px){
	.header{
		.navbar-default ul li a{
			padding: 10px;
		}
	}
}
@media (max-width: 868px){
	.header{
		.navbar-collapse{
			position: relative;
			top: 0px !important;
		}
	}
}
@media (max-width: 854px){
	.header{
		.navbar-collapse{
			position: relative;
			top: -45px !important;
		}
	}
}
@media (max-width: 768px){
	.gallery-big{
		.container-img{
			img{
				height: 150px;
			}
		}
	}
	.about{
		p#title{
			text-align: center !important;
			margin-left: 0 !important;
		}
		.about-item{
			img{
				position: relative;
   				left: 35%;
   				margin-bottom: 20px;
   				float: none !important;
			}
			#text{
				p{
					width: 100% !important;
				    text-align: center;
				    margin-left: 0 !important;
				    padding-left: 0;					
				}	
			}
		}
	}
	.footer{
		height: auto !important;
		.row{
			width: 80% !important;
		}
	}
	.logo-group{
		height: auto !important;
	}
	.about-item{
		img{
			margin-left: 0 !important;
		}
	}
	.navbar-default{
		ul{
			li{
				margin-left: 10px;
			}
		}
	}
	.header{
		margin: 0;
		.navbar-collapse{
			position: relative;
			top:25px;
			ul{
				display: block !important;
			}
		}
	}
}
@media (max-width: 766px){
	.navbar-default{
		ul{
			margin-top: 70px;
		}
	}
}
@media (max-width: 660px){
	.header-top{
		height: 100px !important;
		.col-md-8{
			width: 50%;
			float: left;
			.contacts{
				height: auto;
				a{
					display: block !important;
					float: none;
					&#mail{
						margin-left: 0;
					}
				}
			}
		}
		.social{
			width: 40%;
		    float: right;
		    position: relative;
		    top: 40%;
		}
	}
	.gallery-big{
		ul{
			li{
				float:none;
				margin-left: 10px;
				border-radius: 3px;
				margin-top: 10px;
				margin-right: 10px;
			}
		}
		.container-img{
			img{
				height: 100px;
			}
		}
	}
	.gallery-button{
		left:40% !important;
	}
}
@media (max-width: 407px){
	.header-top{
		.col-md-8{
			.contacts{
				width: 200px;
			}
		}
	}
	.main{
		.title{
			p#t1{
				font-size: 35px;
			}
		}
		.gallery-button{
			left:35% !important;
		}
		.about-item{
			img{
				left: 30% !important;
			}
			#text{
				p#title{
					font-size: 30px;
				}
			}
		}
	}
	.footer{
		.col-md-4{
			ul{
				width: 100% !important;
				float: none !important;
				border-bottom: 1px solid #FFF;
    			padding-bottom: 15px;
			}
		}
		.social ul{
			border-bottom: none;
			padding-bottom: 0;
		}
		.col-md-12 ul.nav-pills{
			padding-top: 0px !important;
		}
	}
}